<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head th:replace="fragments/header :: head"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/small/login-form.css}"/>
<body class="text-center">
    <form method="post" th:action="@{/login}" class="form-signin">
        <h1 class="h1 mb-1 font-weight-bold" th:text="#{coachingTools}"></h1>
        <h3 class="h3 mb-3 font-weight-normal" th:text="#{login}"></h3>
        <input class="form-control" type="text" name="username" id="username" autofocus="" th:placeholder="#{user.email}"/>
        <input class="form-control" type="password" name="password" id="password" th:placeholder="#{user.password}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login}"></button>
    </form>
</body>
</html>