<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout">
<div layout:fragment="content">
    <h1 th:text="#{adminPanel}"></h1>
    <div class="mb-2">
        <a th:href="@{/}" class="btn btn-secondary">
            <span class="mr-1">&#10094;</span>
            <span th:text="#{homePage}"></span>
        </a>
    </div>
    <div>
        <a th:href="@{/admin/user/list}" class="btn btn-primary mt-2" th:text="#{user.userList}"></a>
    </div>
    <div>
        <a th:href="@{/admin/team/list}" class="btn btn-primary mt-2" th:text="#{team.teamList}"></a>
    </div>
    <div>
        <a th:href="@{/admin/player/list}" class="btn btn-primary mt-2" th:text="#{player.playerList}"></a>
    </div>
</div>
</html>