<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="mainLayout" lang="pl">
<div layout:fragment="content">
    <h1 th:text="#{coachingTools}"></h1>
    <div>
        <a class="btn btn-primary" th:text="#{statistics}"></a>
        <span sec:authorize='hasAuthority("admin")'>
                <a class="btn btn-primary ml-3" th:text="#{register}"></a>
                <a class="btn btn-primary ml-3" th:text="#{adminPanel}"></a>
            </span>
    </div>
</div>
</html>