<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="mb-2">
        <a th:href="@{/admin/adminPanel}" class="btn btn-secondary">
            <span class="mr-1">&#10094;</span>
            <span th:text="#{adminPanel}"></span>
        </a>
    </div>
    <h1 th:text="#{eventType.eventType.list}"></h1>
    <div class="mb-2">
        <a th:href="@{/admin/eventType/add}" class="btn btn-primary" th:text="#{eventType.addEventType}"></a>
    </div>
    <table class="table table-bordered text-left table-striped ml-auto mr-auto">
        <thead>
        <tr>
            <th th:text="#{eventType.id}" class="col-3"></th>
            <th th:text="#{eventType.name}" class="col-3"></th>
            <th th:text="#{eventType.twoPoints}" class="col-3"></th>
            <th th:text="#{eventType.actions}" class="col-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eventType: ${eventTypes}">
            <td th:text="${eventType.id}"></td>
            <td th:text="${eventType.name}"></td>
            <td th:text="${eventType.twoPoints}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/eventType/{id}/details(id=${eventType.id})}" th:text="#{eventType.details}"></a>
                <a class="btn btn-primary" th:href="@{/admin/eventType/{id}/delete(id=${eventType.id})}" th:text="#{eventType.delete}"></a>
                <a class="btn btn-primary" th:href="@{/admin/eventType/{id}/edit(id=${eventType.id})}" th:text="#{eventType.edit}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>