<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <h1 th:text="#{team.adding}"></h1>
    <form method="post" th:action="@{/admin/team/add}" th:object="${team}" class="w-25 ml-auto mr-auto">
        <input required="required" type="text" th:field="*{name}" class="form-control" th:placeholder="#{team.name}"/>
        <button class="btn btn-primary" th:text="#{save}"></button>
    </form>
</div>
</body>
</html>