<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="mb-2">
        <a th:href="@{/admin/adminPanel}" class="btn btn-secondary">
            <span class="mr-1">&#10094;</span>
            <span th:text="#{adminPanel}"></span>
        </a>
    </div>
    <h1 th:text="#{team.teamList}"></h1>
    <div class="mb-2">
        <a th:href="@{/admin/team/add}" class="btn btn-primary" th:text="#{team.addTeam}"></a>
    </div>
    <table class="table table-bordered text-left table-striped ml-auto mr-auto">
        <thead>
        <tr>
            <th th:text="#{team.id}" class="col-3"></th>
            <th th:text="#{team.name}" class="col-3"></th>
            <th th:text="#{team.actions}" class="col-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team: ${teams}">
            <td th:text="${team.id}"></td>
            <td th:text="${team.name}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/team/{id}/details(id=${team.id})}" th:text="#{team.details}"></a>
                <a class="btn btn-primary" th:href="@{/admin/team/{id}/delete(id=${team.id})}" th:text="#{team.delete}"></a>
                <a class="btn btn-primary" th:href="@{/admin/team/{id}/edit(id=${team.id})}" th:text="#{team.edit}"></a>
                <a class="btn btn-primary" th:href="@{/admin/player/add(team=${team.id})}" th:text="#{team.addPlayer}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>