a{
    color: white !important;
}
a[role="option"]{
    color: black !important;
}
a.dropdown-item.active{
    color: white !important;
}
.bootstrap-select button{
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
.form-control{
    margin-bottom: 10px;
}
.football-field{
    width: 100vw;
    max-width: 80vw;
    max-height: 80vh;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}