<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout">
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/admin/register/setTeam}">
        <h1 th:text="#{team.chooseTeam}"></h1>
        <label>
            <select class="selectpicker" data-live-search="true" name="teamId">
                <option th:each="team: ${teams}" th:value="${team.id}" th:text="${team.nameWithId}"></option>
            </select>
        </label>
        <button type="submit" th:text="#{save}" class="btn btn-primary"></button>
    </form>
    <h1 th:text="#{register.matchesFromLastTwoDays}"></h1>
    <table class="table table-bordered text-left table-striped ml-auto mr-auto mt-5">
        <thead>
        <tr>
            <th th:text="#{footballMatch.id}"></th>
            <th th:text="#{footballMatch.startTime}"></th>
            <th th:text="#{footballMatch.team}"></th>
            <th th:text="#{footballMatch.actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match: ${matches}">
            <td th:text="${match.id}"></td>
            <td th:text="${{match.start}}"></td>
            <td th:text="${match.team.nameWithId}"></td>
            <td>
                <a class="btn btn-primary" th:text="#{register.continueRegisteringMatch}"
                   th:href="@{/admin/register/continueMatch/{id}/(id=${match.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>