<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout">
<body>
<div layout:fragment="content">
    <div style="display: none;" id="football-field-div">
        <h1 th:text="#{register}"></h1>
        <img id="football-field" class="football-field" th:src="@{/img/football_field.png}" alt="football-field"/>
        <script th:src="@{/js/register.js}"></script>
    </div>
    <div id="players-div">
        <h1 th:text="#{register.choosePlayer}"></h1>
        <div class="float-left bg-primary text-white ml-3 mt-3 p-2 user-select-none" style="min-width: 200px; height: 200px;" th:each="player: ${footballMatch.team.players}">
            <h1 class="display-1 font-weight-bold" th:text="${player.number}"></h1>
            <h3 th:text="${player.firstNameFirstLetterAndLastName}"></h3>
        </div>
    </div>
    <div style="display: none;" id="event-div">
        <h1 th:text="#{register.chooseEvent}"></h1>
        <div class="float-left bg-danger text-white ml-3 mt-3 p-2 user-select-none" style="min-width: 200px; height: 200px;" th:each="eventType: ${eventTypes}">
            <h1 th:text="${eventType.name}"></h1>
        </div>
    </div>
</div>
</body>
</html>